#include "dmhuisma.dtsi" // The shared dtsi file is included in the overlay

/ {

    kscan0: kscan_composite {
        // matrix driver
        matrix {
            kscan = <&kscan1>;
        };
        // direct GPIO driver for dpad and RKJXT1F42001 buttons
        direct_left {
            kscan = <&kscan2>;
            row-offset = <6>;
        };
    };

    // dpad and RKJXT1F42001 buttons
    kscan2: kscan2 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        status = "okay";
        input-gpios
                // dpad
            = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                // RKJXT1F42001 buttons
            , <&mcp_io 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp_io 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp_io 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp_io 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 17  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    RKJXT1F42001_encoder: encoder_RKJXT1F42001 {
        status = "okay";
    };
};
