#include "dmhuisma.dtsi" // The shared dtsi file is included in the overlay

/ {

    kscan0: kscan_composite {
        // matrix driver
        matrix {
            kscan = <&kscan1>;
        };
        // direct GPIO driver for dpad and RKJXT1F42001 buttons
        direct_left {
            kscan = <&kscan2>;
            row-offset = <6>;
        };
    };

    // key matrix
    kscan1: kscan1 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        status = "okay";
        col-gpios
            = <&mcp_io 0 GPIO_ACTIVE_HIGH>
            , <&mcp_io 1 GPIO_ACTIVE_HIGH>
            , <&mcp_io 2 GPIO_ACTIVE_HIGH>
            , <&mcp_io 3 GPIO_ACTIVE_HIGH>
            , <&mcp_io 4 GPIO_ACTIVE_HIGH>
            , <&mcp_io 5 GPIO_ACTIVE_HIGH>
            ;

        // might need to be pull down?
        row-gpios
            = <&mcp_io 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            ;
    };

    // dpad and RKJXT1F42001 buttons
    kscan2: kscan2 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        status = "okay";
        input-gpios
                // dpad
            = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                // RKJXT1F42001 buttons
            , <&mcp_io 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&mcp_io 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            ;
    };

    RKJXT1F42001_encoder: encoder_RKJXT1F42001 {
        status = "okay";
    };
};
